<a href="{{ (.Site.GetPage "/").Permalink }}" class="d-flex align-items-center text-white text-decoration-none" title="{{ .Site.Title }}">
  <img src="/images/open-guide-to-kanban-logo-dark.png" alt="{{ .Site.Title }}" class="d-inline-block align-text-top me-2" style="max-height: 40px;">
</a>
<ul class="nav nav-pills">
  <li class="nav-item"><a href="{{ partial "functions/safe-page-link.html" "/guide" }}" class="nav-link text-white">{{ i18n "nav_read_online" }}</a></li>
  <li class="nav-item"><a href="{{ partial "functions/safe-page-link.html" "/translations" }}" class="nav-link text-white">{{ i18n "nav_translations" }}</a></li>
  <li class="nav-item"><a href="{{ partial "functions/safe-page-link.html" "/versions" }}" class="nav-link text-white">{{ i18n "nav_versions" | default "Versions" }}</a></li>
  {{/*  <li class="nav-item"><a href="/faq" class="nav-link text-white">{{ i18n "nav_faq" }}</a></li>  */}}
  {{ partial "components/language-switcher.html" . }}
</ul>
