{{- define "main" }}
  <section class="section container-fluid main-header" style="background-color:#135289;">
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-12 text-center mb-4">
          <h1>{{ .Site.Title }}</h1>
          <p class="lead">{{ i18n "guides_intro_text" . }}</p>
        </div>
      </div>
      <div class="row">
        {{ $sections := .Site.Sections }}
        {{ range .Site.Home.Translations }}
          {{ $sections = $sections | lang.Merge .Site.Sections }}
        {{ end }}
        {{/* {{ $sections = lang.Merge $defaultSite.sections $sections }} */}}
        {{- range $sections }}
          {{- if eq .Type "guide" }}
            <div class="col-12 col-lg-6 col-xl-6 p-3">
              <div class="card card-dark h-100">
                <div class="card-header">
                  <h5 class="card-title text-center mb-0">{{ .Title }}</h5>
                  <div class="m-1 p-2" style="background-color: {{ .Params.brand.bg_colour | default "#135289" }};"></div>
                </div>
                <div class="card-body">
                  <p>{{ .Params.guide_overview | markdownify }}</p>
                  <div class="row g-2">
                    <div class="col-12">
                      <div class="d-grid">
                        <a href="{{ partial "functions/safe-page-link.html" (path.Join .Path "latest") }}" class="btn btn-primary btn-sm">
                          <i class="fa-solid fa-newspaper me-2"></i>{{ i18n "read_online_button" }}
                        </a>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <a href="{{ partial "functions/safe-page-link.html"  (path.Join .Path "translations") }}" class="btn btn-outline-light btn-sm">
                          <i class="fa-solid fa-globe me-2"></i>{{ i18n "translations_button" }}
                        </a>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <a href="{{ partial "functions/safe-page-link.html" (path.Join .Path "history") }}" class="btn btn-outline-light btn-sm">
                          <i class="fa-solid fa-clock-rotate-left me-2"></i>{{ i18n "history_button" }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{- end }}
        {{- end }}
        <!-- Discussion Card -->
        <div class="col-12 p-3">
          <div class="card card-dark h-100">
            <div class="card-header">
              <h5 class="card-title text-center mb-0">{{ i18n "join_discussion_title" . }}</h5>
            </div>
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">{{ i18n "join_discussion_description" . }}</p>
              <div class="d-grid mt-auto">
                <a href="{{ .Site.Params.githubUrl }}/discussions" class="btn btn-primary" target="_blank">
                  <i class="fa-solid fa-comments me-2"></i>{{ i18n "join_discussion_button" }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section container-fluid">
    <div class="container my-5">
      <div class="row">
        <div class="col-12 col-lg-4 col-xl-6">
          <div class="row d-none d-xl-flex">
            <div class="col-2"></div>
            {{- $pages := .Site.RegularPages }}
            {{- range .Site.Home.Translations }}
              {{- $pages = $pages | lang.Merge .Site.RegularPages }}
            {{- end }}
            {{- range where $pages "Section" "creators" }}
              {{- if ne .Title "Creators" }}
                <div class="col-3">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
              {{- end }}
            {{- end }}
          </div>
          <img src="/images/kanban-guides.png" class="img-fluid mb-3" alt="{{ .Site.Title }} Creators" />
        </div>
        <div class="col-12 col-lg-8 col-xl-6">
          <div>
            <div class="col-12">
              <h2 class="text-center">{{ i18n "what_is_guides_title" . }}</h2>
              <div class="lead text-center">
                {{ .Site.Params.description | markdownify }}
              </div>
            </div>
            <div class="col-12 mt-4">
              <h2 class="text-center">{{ i18n "open_source_title" }}</h2>
              <p class="lead text-center">
                {{ i18n "open_source_description" . }}
              </p>
              <a href="{{ .Site.Params.githubUrl }}/discussions" class="btn btn-primary d-block mx-auto" target="_blank">{{ i18n "join_discussion_button" }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{- end }}
