{{ $creators := .Params.creators }}
{{ if not $creators }}
  {{- $creators = where .Site.Data.contributions "founder" true -}}
  {{- $creators = where $creators "role" "creator" -}}
{{ end }}
{{ if $creators }}
  <div class="content-authors mt-3">
    <div class="row">
      <div class="col-12 col-md-2">
        <span class="text-muted me-2">Creator(s):</span>
      </div>
      <div class="col-12 col-md-10">
        {{ range sort $creators "weight" }}
          {{ partial "components/guide/guide-author.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
